layout {
    default_tab_template {
        pane size=1 borderless=true {
            // https://github.com/dj95/zjstatus?tab=readme-ov-file
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left  "#[fg=black,bg=blue,bold]>> {session}#[fg=blue]"
                format_right "#[fg=blue]{tabs}"
                format_center "#[fg=#e87d3e]{mode}"
                format_space "#[]"

                hide_frame_for_single_pane "true"

                mode_normal  "#[bg=blue] "

                tab_normal              "#[fg=#f2fffc, italic]#[fg=#3a4449, italic]{name}{floating_indicator}{fullscreen_indicator}{sync_indicator}#[fg=#f2fffc] "
                tab_active              "#[fg=#f2fffc,]#[bg=#f2fffc,fg=#e87d3e,bold,italic]{name}{floating_indicator}{fullscreen_indicator}{sync_indicator}#[fg=#f2fffc] "

                // mode
                mode_default_to_mode "locked"
                mode_normal          "zellij…"
                mode_rename_tab      "#[fg=#e87d3e] rename tab…"
                mode_locked          ""

                // tab
                tab_sync_indicator       " 󰓦 "
                tab_fullscreen_indicator " 󰊓"
                tab_floating_indicator   " 󰉈"
                
                // datetime
                datetime "#[fg=#409ddd,bold] {format}"
                datetime_format "%H:%M"
                datetime_timezone "America/Chicago"
            }
        }
        children
    }
    tab name="Code" focus=true {
        pane split_direction="horizontal" size="70%" {
            pane split_direction="vertical" {
                pane size="70%" name="" command="zsh" {
                    args "-c" "source ~/git/dvp-api/.venv/bin/activate && nvim ~/git/dvp-api/"
                }
                pane name="󱚝" command="claude" cwd="~/git/dvp-api/"
            }
        }

        pane size="23%" name="󰊠" cwd="~/git/dvp-api/"

    }
    tab name="Messi" cwd="~/"
    tab name="dotfiles" cwd="~/.config"
}
