themes {
    catppuccin-macchiato {
        bg "#5b6078" // Surface2
        fg "#cad3f5"
        red "#ed8796"
        green "#a6da95"
        blue "#8aadf4"
        yellow "#eed49f"
        magenta "#f5bde6" // Pink
        orange "#f5a97f" // Peach
        cyan "#91d7e3" // Sky
        black "#1e2030" // Mantle
        white "#cad3f5"
    }
    eldritch {
        bg "#212337"
        fg "#ebfafa"
        red "#f16c75"
        green "#37f499"
        blue "#8aadf4"
        yellow "#f1fc79"
        magenta "#a48cf2"
        orange "#f7c67f"
        cyan "#04d1f9"
        black "#1e2030"
        white "#cad3f5"
    }
    spaceduck {
        bg "#0f111b"
        fg "#ecf0c1"
        red "#e33400"
        green "#5ccc96"
        blue "#00a3cc"
        yellow "#f2ce00"
        magenta "#7a5ccc"
        black "#000000"
        white "#f0f1ce"
        orange "#f7c67f"
        cyan "#91d7e3" // Sky
    }
    monokai {
        bg "#272822"
        fg "#F8F8F2"
        red "#F92672"
        green "#A6E22E"
        blue "#66D9EF"
        yellow "#F4BF75"
        magenta "#AE81FF"
        black "#000000"
        white "#F8F8F2"
        orange "#FF9F00" // Bright orange variant
        cyan "#A1EFE4" // Light cyan
    }

}
