keybinds clear-default=true {
    locked {
        bind "Ctrl g" { SwitchToMode "Normal"; }
        bind "Ctrl f" { ToggleFloatingPanes; }
    }
	normal {
        // Lock
        bind "Ctrl g" { SwitchToMode "Locked"; }

        // Pane
        bind "h" { MoveFocus "Left"; SwitchToMode "Locked"; }
        bind "j" { MoveFocus "Up"; SwitchToMode "Locked"; }
        bind "k" { MoveFocus "Down"; SwitchToMode "Locked"; }
        bind "l" { MoveFocus "Right"; SwitchToMode "Locked"; }
		bind "H" { MovePane "Left"; }
		bind "J" { MovePane "Up"; }
		bind "K" { MovePane "Down"; }
		bind "L" { MovePane "Right"; }

        bind "p" { NewPane; SwitchToMode "Locked"; }
        bind "x" { CloseFocus; SwitchToMode "Locked"; }

        bind "m" { ToggleFocusFullscreen; SwitchToMode "Locked"; }

        // Tab
        bind "t" { NewTab; SwitchToMode "Locked"; }
        bind "X" { CloseTab; SwitchToMode "Locked"; }
        bind "n" { GoToNextTab; }
        bind "N" { GoToPreviousTab; }

        // Sesh
        bind "d" { Detach; }
        bind "s" {
            LaunchOrFocusPlugin "zellij:session-manager" {
                floating true
                move_to_focus_tab true
            };
            SwitchToMode "Locked"
        }

	}
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    session-manager { path "session-manager"; }
}
pane_frames false
theme "eldritch"
default_layout "custom"
default_mode "locked"
layout_dir ".config/zellij/layouts/"
